p {
    
}

main{
  display: inline-block;
  position: relative;
  left: 25%;
  top: 10%;
  
  color: black;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  max-width: 50%;
  min-width: 25%;
  text-justify: auto;
}
  
body {
  background: rgb(152, 241, 227);
}

.container{
  display: flex;
  flex-wrap: wrap;
}

#about-par{
  flex: 70%;
  padding: 10px 0;
}

img{
  max-height: 120px;
  max-width: 120px;
}

#istore{
  flex: 30%;
  left: 70%;
}


  
.sub-heading {
  text-shadow: 3px 4px rgb(134, 241, 245);
}
  
  


header {
  background-color: rgb(123, 197, 186);
  position: fixed;
  color: azure;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav{
  padding: 0;
  margin: 0;
  
}

nav li{
  display: inline-block;
  width: 80px;
}

@media (max-width: 500px){
    main h1{
      font-size: 50px;
      padding: 0;
    }
}

#about-me figure{
  display: flexbox;
  
}
